.main{
    text-align: center;
}
h1{
    color: rgb(241, 127, 127);
    margin-bottom: 40px;
    
}

.firstrow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;

}
.firstrow div{
    box-shadow: 5px 8px 15px rgb(124, 190, 228);
    transition: all 0.5s ease-in;
}
.firstrow div p{
    color: rgb(62, 136, 231);
    font-size: 20px
}
.firstrow div:hover{
    transform: scale(1.1);
}

.thirdrow , .forthrow{
    display: flex;
    justify-content: space-evenly;
}

.footer{
    background-color: black;
    font-weight: bold;
    color: white;
    font-size: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}